.info{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    position: relative;
    padding: 0 0 4.8rem;
}

.info:before{
    content: none;
    display: block;
    background: var(--color-home-polygon);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    pointer-events: none;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    bottom: 0;
    right: 0;
}

.info[data-background="true"]{
    background: var(--color-page-background);
}

.info[data-background-image="true"]:before{
    content: "";
}

.info__block{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4.4rem;
    padding: 0 1.6rem;
    flex: 1 1 auto;
    justify-content: center;
}

.info__section{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1 auto;
}

.info__section:only-child{
    text-align: center;
    gap: 2rem;
    align-items: center;
}

.info__section_text{
    min-height: 0;
    justify-content: space-between;
    align-items: center;
    gap: 2.4rem;
}

.info__section_text_holder{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.info__image_holder{
    max-width: 42.5rem;
    margin: 0 auto;
    position: relative;
}

.info__link{
    width: 100%;
    max-width: 29.6rem;
    text-decoration: none;
}

.info__label{
    font-size: 1.8rem;
    white-space: pre-wrap;
    font-weight: 600;
    color: var(--color-title);
    opacity: 0.6;
    line-height: 116%;
}

@media screen and (min-width: 1024px) {
    .info{
        padding: 0 0 5%;
    }

    .info__block{
        flex-direction: row;
        text-align: left;
        gap: 3.2rem;
        padding: 0;

    }

    .info__section{
        justify-content: center;
        align-items: center;
        flex: 1 1 50%;
    }

    .info__section_text{
        align-items: flex-start;
        gap: 4.2rem;
    }

    .info__image_holder{
        max-width: 48rem;
        margin: 0;
    }


    .info__label{
        font-size: 2.2rem;
    }
}

@media screen and (min-width: 1280px) {
    .info__section_text{
        gap: 6.4rem;
    }

    .info__image_holder{
        max-width: 64rem;
        padding-left: 4rem;
    }

    .info__label{
        font-size: 3.2rem;
    }
}
