.h1{
    color: var(--color-title);
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 116%;
    margin: 0;
    letter-spacing: 0.1rem;
    white-space: pre-wrap;
}

@media screen and (min-width: 1024px) {
    .h1{
        font-size: 4.2rem;
    }
}

@media screen and (min-width: 1280px) {
    .h1{
        font-size: 5.6rem;
        letter-spacing: 0.24rem;
    }
}
